@font-face {
    font-family: 'Gawaa';
    src: url('../fonts/Gawaa/Gawaa-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gawaa-Italic';
    src: url('../fonts/Gawaa/Gawaa-Italic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mplus';
    src: url('../fonts/MPLUS1p/MPLUS1p-Black.ttf'),
    url('../fonts/MPLUS1p/MPLUS1p-Black.ttf') format('truetype');
    /*url('open_sans.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graduate';
    src: url('../fonts/Graduate/Graduate-Regular.ttf'),
    url('../fonts/Graduate/Graduate-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Decor';
    src: url('../fonts/Decor/DECORR.TTF'),
    url('../fonts/Decor/DECORR.TTF') format('truetype');
    /*url('open_sans.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DECORI2';
    src: url('../fonts/Decor/DECORI2.ttf'),
    url('../fonts/Decor/DECORI2.ttf') format('truetype');
    /*url('open_sans.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegro';
    src: url('../fonts/Allegretto-Script-One.ttf'),
    url('../fonts/Allegretto-Script-One.ttf') format('truetype');
    /*url('open_sans.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

.App {
    width: 100%;
    display: block;
    background: #ffffff;
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
    font-family: Monaco;
}

.video-background {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-background img {
    width: 100%;
    margin-top: -6%;
}

.video-background video {
    position: absolute;
    z-index: 2;
    left: 0;
    top: -40%;
    width: 100%;
}

.video-background h1,
.video-background h2,
.video-background h4 {
    position: absolute;
    z-index: 3;
    color: #ffffff;
    margin: 0;
    font-size: 6rem;
    -webkit-box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 0px 50px 30px rgb(0 0 0 / 67%);
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 30px;
    font-weight: inherit;
}

.video-background h2 {
    top: 15%;
    padding-left: 5%;
    text-align: left;
    font-family: Gawaa;
    width: 100%;
}

.video-background h2 p {
    font-size: 4rem;
    font-family: Gawaa-Italic;
    margin: 0 !important;
    color: #bfbfbf;
}

.video-background h1 b {
    font-family: Gawaa;
    font-size: 2.5rem;
    font-weight: bold;
}

.video-background h4 {
    bottom: 5%;
    right: 5%;
    width: 300px;
    text-align: right;
    font-size: 1.6rem;
    background: none;
    box-shadow: none;
    font-family: Monaco, serif;
    color: #ffffff;
    line-height: 2rem;
    font-style: italic;
    font-weight: 100;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7 {
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

.block1,
.block3,
.block5,
.block6,
.block7 {
    z-index: 2;
}

.block1.container .short-text {
    margin: 0 0 0 5%;
}

.block1.container .short-text p,
.block1.container h4 {
    font-family: Monaco;
}

.block1.container .short-text div:last-child {
    /*padding-left: 5%;*/
}

.block1.container .short-text div:last-child p {
    text-align: left;
}

.block1.container .short-text p {
    font-size: 1.4rem;
}

.block1 label {
    margin-right: 10px;
}

.block1 h4 {
    text-align: center;
}

.block1 .quest {
    border: 2px #265035 solid;
    border-radius: 22px;
    text-align: center;
    line-height: inherit;
    padding: 25px 10px;
    font-size: 30px;
    background-color: #ffffff;
    margin: 0;
    z-index: 23;
    position: relative;
    font-family: inherit;
    font-weight: 400;
}

.block1 .slash-border {
    /*background-color: #e3e3e3;*/
    /*border-top: 1px solid #868686;*/
    /*border-top-left-radius: 130px;*/
    /*border-top-right-radius: 130px;*/
    margin-top: -50px;
    position: relative;
    padding: 100px 100px 0;
    z-index: 3;
}

.block1 .second-row {
    margin-top: -100px;
    padding: 100px 100px 50px 100px;
    z-index: 3;
    position: relative;
}

.block1 .slash-background {
    --bevel-size: 200px;
    z-index: 2;
    background-color: #e3e3e3;
    border: 1px solid #868686;
    border-bottom-width: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - var(--bevel-size)));
    /*-webkit-clip-path: polygon(0% 0%, 100% calc(0% + var(--bevel-size)), 100% calc(100% - var(--bevel-size)), 0% 100%);*/
}

.block1 .blockProfessions,
.block1 .professions,
.block1 .paywork {
    z-index: 2;
}

.block1 .pay-ex {
    max-width: 80%;
    margin: 3rem auto 1rem;
}

.block1 .blockProfessions {
    display: block;
    padding: 5px;
}

.block1 .professions {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 70px;
    padding: 35px 15px 70px;
    height: 100%;
}

.block1 .professions .image-block {
    width: 100%;
    max-height: 175px;
    display: flex;
    flex: 0 0 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    background-image: none !important;
}

.block1 .professions img {
    height: 100%;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-shrink: 1;
}

.block1 .professions h2,
.App .modal h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    flex-shrink: 0;
}

.block1 .professions .descriptions {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex-shrink: 0;
    font-family: inherit;
    font-weight: 400;
}

.block1 .pay,
.block5 .pay {
    border: 1px #959494 solid;
    border-radius: 22px;
    text-align: center;
    line-height: inherit;
    padding: 20px;
    font-size: 30px;
    background-color: #f9f9f9;
}

.block5 .pay {
    border: 1px #17a2b8 solid;
    background-color: #19a2b8;
}

.block1 .pay p,
.block5 .pay p {
    display: inline-block;
    margin: 0;
}

.block1 .paywork p:last-child {
    margin-left: 7px;

}

.block2, .block4 {
    position: relative;
}

.block2 .spider-bg,
.footer .spider-bg,
.block5 .spider-bg {
    width: calc(100% + 20px);
    /* height: 100%; */
    padding-top: 126%;
    margin: 0 -10px;
    display: block;
    position: absolute;
    background: url(../../public/images/pexels-adrien-olichon-3137076.jpg) no-repeat 100% 0;
    background-size: cover;
    z-index: 0;
    top: -146%;
    /* left: -8%; */
    transform: translate(0, 0) rotate(0deg);
}

.block2 .person {
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 100px;
    display: grid;
}

.block2 .person .border-around {
    border: 1px solid #868686;
    border-radius: 90px;
    padding: 30px 50px;
    display: inline-block;
    height: 100%;
}

.block2 .image-block {
    width: 43%;
    float: right;
    position: relative;
    overflow: hidden;
    padding-bottom: 40%;
    background: url('../../public/source/ava.JPG') no-repeat 100% 0;
    background-size: cover;
    border-radius: 10px;
}

.block2 .text {
    width: 50%;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 7%;
}

.block2 .text p,
.block2 .text a {
    padding-right: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

.block2 p,
.block2 a {
    font-size: 2rem;
    margin: 0;
}

.block2 svg {
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: baseline;
}

.block3 {
    margin-top: 30px;
    /*background: url('../../public/images/spiderwebV.jpg') no-repeat 100% 0;*/
    background-size: cover;
    padding: 0;
}

.block3 .example {
    text-align: center;
    font-family: inherit;
    font-weight: 400;
}

.block3 .slider {
    z-index: 2;
}

.block3 .slider img {
    text-align: center;
    height: 25rem;
    display: block;
    margin: auto;
}

.block3 .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.block3 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 32%;
    height: 50%;
}

.block3 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.block3 .swiper-3d .swiper-slide-shadow-right,
.block3 .swiper-3d .swiper-slide-shadow-left {
    /*background: none !important;*/
}

.block4 {
    background: url('../../public/images/pexels-david-buchi-1070345.jpg') no-repeat 100% 0;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    z-index: 4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border-top: 0.3rem solid #000000;
}

.block4 .module {
    font-weight: 200;
    text-align: center;
    font-family: inherit;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 15px;
}

.block4 .destroy-bg {
    overflow: hidden;
    max-width: 70%;
    padding: 0 10%;
    background-color: #FFFFFF;
    margin: 0 15%;
    border-radius: 154px;
    border: 1px solid #bbbbbb;
}

.block4 .module-item {
    cursor: pointer;
    display: flex;
    padding: 0 0 1rem;
    border-bottom: solid #e1e1e1 2px;
}

.block4 .module-item:last-child {
    /*border-bottom: none;*/
}

.block4 .module-item .module-num {
    display: flex;
    border: 1px solid #bbbbbb;
    width: 25%;
    text-align: center;
    margin-right: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}

.block4 .module-item .module-num h2 {
    font-family: inherit;
    font-weight: 400;
    /*height: 100%;*/
    margin: 0;
    font-size: 1.5rem;
}

.block4 .module-item .module-num b {
    font-weight: bold;
}

.block4 .module-item .border_vertical {
    display: block;
    background-color: #e1e1e1;
    min-height: 72px;
    width: 2px;
}

.block4 .module-item .module-text {
    display: flex;
    background-color: #ffffff;
    width: 75%;
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;

    border-radius: 10px;
    min-height: 72px;
    flex-direction: column;
    justify-content: center;
}

.block4 .module-item .module-text p {
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 100;
    margin: 0;
    /*background-color: #ffffff;*/
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    width: 100%;

}

.block4 .module-item .module-text p.hide {
    display: none;
}

.block4 .module-item img {
    text-align: center;
    height: 7rem;
    display: block;
    margin: auto;
}

.block5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.block5 h2 .text-left {
    font-size: 1.5rem;
    display: block;
    margin: 10px 0;
    font-family: Monaco;
}

.block5 .result,
.block5 .discount {
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 60px;
    display: grid;
}

.block5 .paywork {
    padding: 0 7%;
}

.block5 .result .border-around,
.block5 .discount .border-around {
    border-radius: 40px;
    padding: 30px 50px;
    display: inline-block;
    height: 100%;
    background-color: #f9f9f9;
}

.block5 .border-around p {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.block5 .result .border-around p:first-child {
    margin-bottom: 1rem;
}

.block5 .example {
    background-color: #e3e3e3;
    border-radius: 100px;
    display: inline-block;
    z-index: 1;
}

.block5 .example .work-students,
.block5 .example h2 {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 3rem auto !important;
    font-size: 1.5rem;
    /*font-family: monospace;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-weight: 600;
}

.block5 .example .work-students a:first-child {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #000000;
}

.block5 .footer {
    position: relative;
}

.block5 .spider-bg {
    top: -9%;
    left: 17%;
    transform: translate(0, 0) rotate(-110deg);
}

.block5 .footer .spider-bg {
    transform: scale(1, -1);
    top: -50%;
    padding-top: 111%;
    left: 0;
}

.block5 .order-contacts {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

.block5 .open-form {
    width: 180px;
    background-color: rgba(56, 180, 70, 0.86);
    border-radius: 15px;
    border: 1px solid #14783669;
    font-size: 1.3rem;
    padding: 10px 10px;
    margin: 10px auto;
    color: #ffffff;
}

.block5 .open-form:hover {
    background-color: rgba(34, 132, 45, 0.78);
    color: #ffffff;
}

.block5 .return-soc {
    margin: 10px auto;
    display: flex;
}

.block5 .order-contacts p {
    font-size: 1.3rem;
    padding: 10px;
    width: 230px;
    display: inline-block;
    margin-right: 10px;
}

.block5 .social {
    width: 160px;
    display: inline-block;
}

.block5 .social a {
    display: block;
}

.block5 .uk-grid {
    margin: 0 !important;
}

.block5 .uk-grid div {
    padding: 0 !important;
}

.block5 .uk-grid div.p-3 {
    padding: 4px !important;
    overflow: hidden;
}

.form-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    z-index: 800;
}

.return-form {
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-height: 85%;
    overflow: hidden;
    overflow-y: scroll;
}

.return-form h1 {
    font-size: 1.5rem;
    text-align: center;
}

.return-form h4 {
    text-align: center;
    font-size: 1rem;
}

.return-form h1, .return-form h4 {
    color: #ffffff !important;
    font-family: Monaco;
}

.return-form .form-header {
    background-color: #00bf02;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 300px;
}

.return-form .form-data {
    background-color: #e2e2e2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 300px;
}

.return-form .form-data h1,
.return-form .form-data h4,
.return-form .form-data h5 {
    color: #000000 !important;
    font-family: Monaco;
}

.return-form .form-data h5 {
    margin-bottom: 0.1rem;
}


.App .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    height: auto;
    width: auto;
    padding: 15px;
    border-radius: 15px;
    max-height: 85%;
    overflow: hidden;
    overflow-y: scroll;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 400;
}

.App .modal .image-block {
    /*display: flex;*/
    display: none;
    flex: 1 1 33%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: url('../../public/source/professions1.jpg') no-repeat 100% 0;
    background-size: contain;
    background-position: center;
}

.App .modal .image-block img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.App .modal .title {
    flex-shrink: 0;
}

.App .modal .descriptions {
    margin: 0;
    flex-shrink: 0;
}

.App .modal .descriptions p {
    font-family: Monaco;
}

.App .professions.modal h2,
.App .modal p.descriptions {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 400;
}

.App .shadow {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #000000;
    opacity: 0.4;
}

.uk-height-small {
    height: 200px;
}

.uk-height-medium {
    height: 400px;
}

@media (min-width: 1100px) {
    .video-background h4 {
        font-size: 2rem;
    }

    .block1.container .short-text div:last-child {
        padding-left: 5%;
    }
}

@media (max-width: 1200px) {
    .row.slash-border,
    .row.second-row {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 992px) {
    .block1 .professions .image-block {
        max-height: 230px;
    }

    .video-background img {
        margin: 0;
    }

    .video-background h2 p, .video-background h2, .video-background h4,
    .video-background h2 b {
        font-size: 1.5rem;
        width: 100%;
        left: 0;
        text-align: center;
        box-shadow: none;
        border-radius: 0;
        line-height: 1.5rem;
        color: #ffffff;
    }

    .video-background h2 {
        padding-left: 0;
    }

    .row.slash-border,
    .row.second-row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .block1, .block2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .block1 .pay-ex {
        margin: 10px auto !important;
    }

    .block1 .quest {
        font-size: 1rem;
    }

    .block1 .pay p {
        font-size: 1rem;
    }

    .block2 p, .block2 a {
        font-size: 1.5rem;
        margin: 0;
    }

    .block2 .image-block {
        width: 100%;
        float: none;
        padding-bottom: 100%;
    }

    .block2 .text {
        width: 100%;
        float: none;
        display: block;
        margin-top: 1rem;
    }

    .block2 .text p,
    .block2 .text a {
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        display: block;
    }

    .block4 .module {
        font-size: 1.5rem;
        font-weight: 200;
    }

    .first-last img {
        margin-top: -15% !important;
    }

    .second-last img {
        margin-top: 0 !important;
    }
}

@media (max-width: 768px) {

    .video-background {
        padding-top: 45%;
        background: url('../../public/source/background.jpg') no-repeat 100% 0;
        background-size: cover;
    }

    .video-background img {
        opacity: 0;
    }

    video {
        display: none;
    }

    .video-background h1 {
        top: 50%;
    }

    .video-background h2 p, .video-background h2, .video-background h4,
    .video-background h2 b {
        font-size: 2rem;
        line-height: 2rem;
        color: #ffffff;
    }

    .block1 .professions .image-block {
        max-height: 250px;
    }

    .block1 .professions h2.title {
        text-align: center;
        height: 1.5rem;
    }

    .block1.container h4 {
        font-size: 1rem;
    }

    .block2 p, .block2 a {
        font-size: 1rem;
        margin: 0;
    }

    .block1.container .short-text div:last-child {
        padding-left: 15px;
    }

    block1.container .short-text div:last-child {
        padding-left: 0%;
    }

    .block1 .quest {
        font-size: 0.9rem;
    }

    .block1.container .short-text div:last-child p {
        text-align: left;
    }

    .block3 .example {
        font-size: 1.3rem;
    }

    .block5 .example .work-students, .block5 .example h2 {
        margin: 2rem auto !important;
        width: fit-content;
        display: block;

    }

    .block5 .order-contacts {
        display: flex;
        margin: 30px 0;
        flex-direction: column;
    }

    .block5 .open-form,
    .block5 .order-contacts p,
    .block5 .social {
        margin: 10px auto;
    }

    .block5 .social a {
        text-align: center;
    }

    .uk-height-small {
        height: 150px;
    }

    .uk-height-medium {
        height: 300px;
    }
}

@media (max-width: 576px) {
    video {
        display: none;
    }

    .video-background h2 p, .video-background h2, .video-background h4,
    .video-background h2 b {
        font-size: 2.2rem;
        width: 100%;
        left: 0;
        text-align: center;
        box-shadow: none;
        line-height: 2.2rem;
    }

    .video-background h4 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .video-background h1 {
        top: 35%;
    }

    .block1.container .short-text div:last-child p {
        text-align: left;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .block1 .quest {
        font-size: 0.7rem;
    }

    .block1 .slash-background {
        border-radius: 45px;
    }

    .block1 .slash-border {
        padding-top: 60px;
    }

    .block1 .professions {
        border-radius: 50px;
    }

    .block1 .professions .image-block {
        max-height: 180px;
    }

    .block1 .second-row {
        padding-bottom: 10px;
    }

    .block1 .paywork p:last-child {
        display: inherit;
    }

    .block2 .image-block {
        width: 100%;
        float: none;
        padding-bottom: 100%;
    }

    .block2 .text {
        width: 100%;
        float: none;
        display: block;
    }

    .block2 .text p,
    .block2 .text a {
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        display: block;
    }

    .row.slash-border,
    .row.second-row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pay-ex {
        margin: 0 auto !important;
    }

    .block3 .example {
        font-size: 1rem;
    }

    .block3 .swiper {
        padding-top: 1rem;
    }

    .block4 .destroy-bg {
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
    }

    .block4 .module-item {
        margin-top: 0.5rem !important;
        padding-bottom: 0.5rem;
    }

    .block4 .module-item .border_vertical,
    .block4 .module-item .module-text {
        min-height: 35px;
    }

    .mt-5 {
        margin-top: 1rem !important;
    }

    .mt-3 {
        margin-top: 0.6rem !important;
    }

    .block4 .module {
        font-size: 1rem;
    }

    .block4 .module-item .module-text p,
    .block4 .module-item .module-num h2 {
        font-size: 0.7rem;
    }

    .block5 .example .work-students, .block5 .example h2 {
        margin: 1rem auto !important;
        width: fit-content;
        display: block;
        font-size: 1rem;
    }

    .block5 .discount .border-around {
        padding: 0;
        width: 100%;
    }

    .block5 h2 .text-left {
        font-size: 1rem;
    }

    .block5 .return-soc {
        display: block;
    }

    .block5 .return-soc p,
    .block5 .return-soc div {
        margin: 0 auto;
        display: block;
    }

    .block5 .result .border-around {
        padding-left: 20px;
        padding-right: 20px;
    }

    .block5 .border-around p {
        text-align: center;
        margin: 5px 20px;
        font-size: 1rem;
    }

    .example .uk-height-small {
        height: 75px;
    }

    .example .uk-height-medium {
        height: 150px;
    }

    .App .modal h2 {
        font-size: 1rem;
        margin-top: 5px;
    }

    .App .modal p {
        font-size: 0.8rem;
        text-align: justify;
    }

}

.hide {
    display: none !important;
}

svg {
    margin-right: 7px;
}

@media only screen and (max-device-width: 812px) {
    .short-text {
        display: block;
    }

    .block1.container .short-text p {
        font-size: 1rem;
        margin: 0;
    }

    block1.container .short-text div:last-child {
        padding-left: 0%;
    }


    .App .modal {
        transform: translate(-50%, -50%);
    }

    .return-form {
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 520px) {
    .block1.container .short-text p {
        font-size: 0.7rem;
    }

    .block2 .text p {
        font-size: 0.9rem;
    }

    .block5 .border-around p {
        font-size: 0.9rem;
    }
}

@media (max-width: 380px) {
    .block1.container .short-text p {
        font-size: 0.5rem;
    }

    .block2 .text p {
        font-size: 0.8rem;
    }

    .block5 .border-around p {
        font-size: 0.8rem;
    }
}







